/*CABEÇALHO*/
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

/*RODAPÉ*/
.cabecalho__pesquisar__item {
    display: none;
}

.rodape__container {
    display: flex;
    flex-flow: column wrap;
}

/*SEÇÃO SUPERIOR*/
.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    gap: 15px;
}

.menu__container {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.menu__lista {
    height: 74px;
    display: flex;
    justify-content: space-around;
}

.menu__lista li {
    align-self: center;
}

.menu__itens {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

/*VIDEOS*/
.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.videos__item {
    width: 280px;
    height: auto;
    flex-grow: 1;
    padding: 15px;
}

@media (min-width: 834px) {
    /*CABEÇALHO*/
    .cabecalho__pesquisar__item {
        display: block;
    }

    /*RODAPÉ*/
    .rodape__container {
        justify-content: space-between;
    }

    /*MENU*/
    .menu__container {
        left: 0;
        top: 80px;
        width: 74px;
        height: auto;
    }

    .menu__lista {
        flex-flow: column nowrap;
        gap: 33px;
        justify-content: start;
    }

    .menu__lista li {
        width: 100%;
    }

}

@media (min-width: 1440px) {
    .menu__container {
        width: 240px;
        overflow-y: scroll;
    }

    .menu__lista {
        height: auto;
        padding: 20px 15px;
        gap: 15px;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    .jogos {
        order: 3;
    }

    .filmes {
        order: 2;
    }

    .premium {
        order: 1
    }

    .maispagina {
        order: 4;
    }
}